.conatiner {
    width: max-content;
    height: 36.4875rem;
    padding: 1rem;
    background-color: var(--color-black0);
    background-color: var(--background2);

    .boxDescription {
        width: 21.875rem;

        h3 {
            margin: 1.5rem 0;
            font-size: 1.6rem;
            color: var(--text1);

            text-decoration: underline;
        }

        .description {
            width: 21.875rem;
            height: 9.375rem;
            p {
                font-size: 1.3rem;
                color: var(--text3);
            }
        }
    }

    .boxFooter {
        margin-top: 1.5rem;
        border-top: 1px solid var(--color-black0);
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
            background-color: var(--color-primary);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
            padding: 0.5rem;
            border-radius: 10px;

            img {
            }

            span {
                font-size: 1.5rem;
            }
            &:hover {
                background-color: var(--color-primary-hover);
            }
        }
    }

    @media (max-width: 1240px) {
        .boxImg {
            img {
                width: 17.5rem;
                height: 8.9375rem;
            }
        }

        .boxDescription {
            .description {
                width: 17.5rem;
                height: 12.5rem;
            }
            width: 17.5rem;
            height: 16.25rem;
        }
        .boxFooter {
            margin-top: 2.5rem;
        }
    }

    @media (max-width: 1080px) {
        .boxImg {
            img {
                width: 21.875rem;
                height: 12.3125rem;
            }
        }

        .boxDescription {
            width: 21.875rem;
            height: initial;
            justify-content: center;

            .description {
                width: 21.875rem;
                height: 9.375rem;
            }
        }
        .boxFooter {
            margin-top: 1.5rem;
        }
    }

    @media (max-width: 850px) {
        .boxImg {
            img {
                width: 18.875rem;
                height: 8.9375rem;
            }
        }

        .boxDescription {
            width: 18.875rem;

            h3 {
                width: 18.875rem;
                height: 3.75rem;
            }

            .description {
                width: 18.875rem;
                height: 10.9375rem;
            }
        }

        .boxFooter {
            margin-top: 1.5rem;
        }
    }

    @media (max-width: 760px) {
        .boxImg {
            img {
                width: 14.875rem;
                height: 8.9375rem;
            }
        }

        .boxDescription {
            width: 14.875rem;
            height: max-content;

            h3 {
                width: 14.875rem;
                height: 3.75rem;
                margin: 0.7rem 0;
            }

            .description {
                width: 14.875rem;
                height: max-content;
            }
        }
        .boxFooter {
            margin-top: 1.5rem;
        }
    }

    @media (max-width: 620px) {
        .boxImg {
            img {
                width: 26.1rem;
                height: 14rem;
            }
        }

        .boxDescription {
            width: 26.1rem;
            height: max-content;

            .description {
                width: 26.125rem;
                height: 7.8125rem;
            }
        }
    }

    @media (max-width: 530px) {
        .boxImg {
            img {
                width: 23rem;
                height: 14rem;
            }
        }

        .boxDescription {
            width: 23rem;
            height: max-content;

            .description {
                width: 23rem;
                height: 7.8125rem;
            }
        }
    }

    @media (max-width: 480px) {
        .boxImg {
            img {
                width: 17.75rem;
                height: 10rem;
            }
        }

        .boxDescription {
            width: 17.75rem;
            height: max-content;

            h3 {
                width: 17.75rem;
                height: 3.75rem;

                padding: 0;
                margin: 0.7rem 0;
            }

            .description {
                width: 17.75rem;
                height: 12.5rem;
            }
        }
    }

    @media (max-width: 320px) {
        .boxImg {
            img {
                width: 15.25rem;
                height: 8rem;
            }
        }

        .boxDescription {
            width: 15.25rem;
            height: max-content;

            h3 {
                width: 15.25rem;
                height: 3.75rem;

                padding: 0;
                margin: 0.7rem 0;
            }

            .description {
                width: 15.25rem;
                height: 15.9375rem;
            }
        }

        .boxFooter {
            margin-top: 0.5rem;
        }
    }
}
