@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0B132B 0%, #1C2541 50%, #3A506B 100%);
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
  }

a {
  color: inherit;
  text-decoration: none;
}
