.container {
    height: 15rem;
    width: 13rem;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;

    .containertBox {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
        padding: 2rem 1rem;
        cursor: pointer;

        .boxTitle {
            text-align: center;
            span {
                font-size: 1.4rem;
            }
        }
    }

    @media (max-width: 1240px) {
        height: 12.5rem;
        width: 10.5rem;
    }

    @media (max-width: 1080px) {
        height: 10rem;
        width: 8rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 850px) {
        height: 8.7rem;
        width: 6.7rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 0.9rem;
                }
            }
        }

        .imageSkill {
            width: 50px;
        }
    }

    @media (max-width: 760px) {
        height: 7rem;
        width: 5rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 0.7rem;
                }
            }
        }

        .imageSkill {
            width: 40px;
        }
    }

    @media (max-width: 530px) {
        height: 8.1rem;
        width: 6.1rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 0.7rem;
                }
            }
        }

        .imageSkill {
            width: 50px;
        }
    }

    @media (max-width: 480px) {
        height: 9rem;
        width: 7rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    @media (max-width: 320px) {
        height: 8.1rem;
        width: 6.1rem;

        .containertBox {
            .boxTitle {
                span {
                    font-size: 0.7rem;
                }
            }
        }

        .imageSkill {
            width: 50px;
        }
    }
}
