.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 7rem;

    .image_profile {
        .image {
            width: 22.5rem;
            height: 27.1875rem;
        }
    }

    .description_profile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .paragh_intro {
            font-size: 3rem;

            .name {
                color: var(--color-gree2);
            }

            .profession {
                font-weight: 600;
                color: var(--color-primary);
                text-decoration: underline;
            }
        }
        .point {
            color: var(--color-gree2);
        }

        .training {
            font-size: 1.3rem;

            .profession_training {
                color: var(--color-primary);
                text-decoration: underline;
            }

            .school {
                color: var(--color-blue-kezie);
            }
        }

        .BoxContacts {
            display: flex;
            gap: 1rem;
            position: absolute;
            left: 0;
            bottom: 0;
    
    
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                cursor: pointer;


                span {
                     font-size: .8rem;
                     color: var(--text1);
                }

                &:hover {

                    img {
                        // border-radius: 50%;
                        border-radius: 500px;
                        box-shadow: 0 0 20px #00d8ff;
                    }
                }
            }
        }

        .boxCv {
            position: absolute;
            right: 0;
            bottom: 0;

            a {
                display: flex;
                gap: .5rem;
                border: none;
                border-radius: 15px;
                background-color: var(--color-blue);
                padding: 1.4rem 2rem;
                font-size: 1.4rem;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 20px var(--color-blue-hover);
                }
            }
        }
    }



    @media (max-width: 1240px) {
        .description_profile {
            line-height: 3.3rem;

            .BoxContacts {
                line-height: initial;
            }

            .boxCv {
                line-height: initial;
            }
        }
    }

    @media (max-width: 1080px) {
        gap: 2rem;
        .description_profile {
            gap: 1rem;
            line-height: 2.1875rem;
    
            .paragh_intro {
                font-size: 2rem;
                .profession {
                    font-weight: 600;
                }
            }

        }
    }

    @media (max-width: 850px) {
        .description_profile {

            .boxCv {
                a {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    padding: .6rem 1rem;
                    font-size: 1.3rem;
                }
            }
        }
    }

    @media (max-width: 760px) {
        .image_profile {
            .image {
                width: 16.5rem;
                height: 20.1875rem;
            }
        }

        .description_profile {
    
            .paragh_intro {
                font-size: 1.8rem;
                font-weight: 500;
            }

            .boxCv {
                a {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    padding: .6rem 1rem;
                    font-size: 1rem;
                }
            }
        }

        .BoxContacts {

            .contact {
                padding: .1rem !important;
                gap: .1rem !important;

                span {
                    display: none;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }


    }

    @media (max-width: 620px) {

        .image_profile {
            .image {
                width: 14.5rem;
                height: 17.1875rem;
            }
        }

        .description_profile {
    
            .paragh_intro {
                color: var(--text1);
                line-height: 1.7rem;
                font-size: 1.4rem;
                font-weight: 500;
            }

            .BoxContacts {
                left: 0;
                bottom: 40px;
            }

            .boxCv {
                left: 0;
                right: inherit;

                a {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    padding: .3rem .7rem;
                    font-size: .8rem;
                }
            }
        }

        .training {
            color: var(--text1);
            font-size: 1rem !important;
            line-height: 1.4rem;

            .profession_training {
                color: var(--color-primary);
                text-decoration: underline;
            }

            .school {
                color: var(--color-blue-kezie);
            }
        }

    }

    @media (max-width: 530px) {

        .description_profile {
            height: 200px;

            .BoxContacts {
                left: 0;
                bottom: 0;
            }

            .boxCv {
                left: inherit;
                right: 0;
                a {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    padding: .6rem 1rem;
                    font-size: 1rem;
                }
            }
        }
    
        flex-direction: column;
        .image_profile {
            .image {
                margin: 0 auto;
                width: 90%;
                height: 27.5rem;
            }
        }

    }

    @media (max-width: 480px) {
        .image_profile {
            .image {
                width: 95%;
                height: 22.1875rem;
            }
        }
    }
}
